<div id="oneResult">
  <p class="user">{{restaurant.userEmail}} </p>
  <p class="name">{{restaurant.name}}</p>
  <p class="address">{{restaurant.address}}</p>
  <p class="cuisine">{{restaurant.cuisines}}</p>
  <p class="userRating">{{restaurant.userRating}}</p>
  <p class="phoneNum">{{restaurant.phoneNum}}</p>
  <p class="priceLevel">{{restaurant.priceLevel}}</p>
  <a class="website" href = {{restaurant.website}} target="_blank">Website</a>
  <img class="photoUrl" src = {{restaurant.photoUrl}}>
  <button id="favorite">Favorites</button>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/oneResult.js"></script>
<script src="/js/favorite.js"></script>
<script src="/js/userEmail.js"></script>