<h1>Restaurant Results</h1>
<p class="user"> USER : {{user}}</p>
<div class="allRes">
  {{#each restaurants}}
    <div class = "selectRestaurant" lat = {{this.lat}} lng = {{this.lng}}>
      <h2 class = "name">{{this.name}}</h2>
      <p class="cuisines">{{this.cuisines}}</p>
      <p class="address">{{this.address}}</p>
      <p class="userRating">{{this.userRating}}</p>
    </div>
  {{/each}}
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2pDiGU9PjqQheeVvFvAefz7qgOCipwbA&libraries=places"></script>
<script src="/js/index.js"></script>
<script src="/js/oneResult.js"></script>